# Import past monthly sales data

#### Every month an excel file is released by Hellenic Association Importer Representatives (https://seaa.gr). In every file there are the monthly sales of each car brand being sold in Greece. I downloaded all the excel files in a folder and with the code below I extracted from them all the monthly sales data for the car brands needed for the dissertation. Doing some string manipulation I built a DataFrame for the all the brands and export it to an excel file.

In [1]:
import glob
import pandas as pd
import matplotlib.pyplot as plt

The list of the files in the folder

In [2]:
glob.glob("/Users/loukas/Desktop/thesis/dataset/sales/*")

['/Users/loukas/Desktop/thesis/dataset/sales/2009-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-12-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-8-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-9-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-2-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-3-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-6-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-7-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-5-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-6-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-6.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-5-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-4-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-12-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-3-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-5.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-1-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-4.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-11-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-10-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-6-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-7-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-3.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-11-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-10-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-8-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-9-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-2.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-7-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-8.xls']

In [3]:
li=glob.glob("/Users/loukas/Desktop/thesis/dataset/sales/*")

In [4]:
li.sort()

In [5]:
li

['/Users/loukas/Desktop/thesis/dataset/sales/2004-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2004-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2005-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2006-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2007-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2008-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2009-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-10.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-11.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-12.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-6.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-7.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-8.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2010-9.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-1.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-10-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-11-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-12-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-2.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-3.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-4.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-5.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-6-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-7-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-8-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2011-9-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-1-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-10-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-11-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-12-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-2-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-3-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-4-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-5-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-6-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-7-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-8-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2012-9-comp.xls',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2013-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2014-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2015-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2016-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2017-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2018-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-3-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-5-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-6-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2019-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-10-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-11-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-12-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-2.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-3.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-4.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-5.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-6.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-7-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-8-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2020-9-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-1-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-2-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-3-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-4-comp.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-5-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-6-comp-1.xlsx',
 '/Users/loukas/Desktop/thesis/dataset/sales/2021-7-comp-1.xlsx']

#### Concatenate all the monthly sales columns in one DataFrame

In [6]:
all_data = pd.DataFrame()
for f in li:
    df = pd.read_excel(f,usecols=[1,2])
    df.insert(2,'file_name',f)
    all_data = all_data.append(df)

/Users/loukas/anaconda3/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [7]:
all_data

   Unnamed: 1 Unnamed: 2                                          file_name
0         NaN        NaN  /Users/loukas/Desktop/thesis/dataset/sales/200...
1         NaN        NaN  /Users/loukas/Desktop/thesis/dataset/sales/200...
2         NaN        NaN  /Users/loukas/Desktop/thesis/dataset/sales/200...
3         NaN        NaN  /Users/loukas/Desktop/thesis/dataset/sales/200...
4         NaN        NaN  /Users/loukas/Desktop/thesis/dataset/sales/200...
..        ...        ...                                                ...
43    BENTLEY          0  /Users/loukas/Desktop/thesis/dataset/sales/202...
44     ZHIDOU          1  /Users/loukas/Desktop/thesis/dataset/sales/202...
45   DAIHATSU          1  /Users/loukas/Desktop/thesis/dataset/sales/202...
46  CHEVROLET          0  /Users/loukas/Desktop/thesis/dataset/sales/202...
47        DFM          0  /Users/loukas/Desktop/thesis/dataset/sales/202...

[11840 rows x 3 columns]

In [8]:
data=all_data.dropna()

In [9]:
data=data.rename(columns={'Unnamed: 1':'brands','Unnamed: 2':'sales'})

In [10]:
data

       brands   sales                                          file_name
6      TOYOTA  3938.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
7     HYUNDAI  3143.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
8        FORD  2083.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
9        FIAT  1911.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
10       SEAT  1771.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
..        ...     ...                                                ...
43    BENTLEY       0  /Users/loukas/Desktop/thesis/dataset/sales/202...
44     ZHIDOU       1  /Users/loukas/Desktop/thesis/dataset/sales/202...
45   DAIHATSU       1  /Users/loukas/Desktop/thesis/dataset/sales/202...
46  CHEVROLET       0  /Users/loukas/Desktop/thesis/dataset/sales/202...
47        DFM       0  /Users/loukas/Desktop/thesis/dataset/sales/202...

[9185 rows x 3 columns]

In [11]:
data=data.reset_index(drop=True)

In [12]:
data

         brands   sales                                          file_name
0        TOYOTA  3938.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
1       HYUNDAI  3143.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
2          FORD  2083.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
3          FIAT  1911.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
4          SEAT  1771.0  /Users/loukas/Desktop/thesis/dataset/sales/200...
...         ...     ...                                                ...
9180    BENTLEY       0  /Users/loukas/Desktop/thesis/dataset/sales/202...
9181     ZHIDOU       1  /Users/loukas/Desktop/thesis/dataset/sales/202...
9182   DAIHATSU       1  /Users/loukas/Desktop/thesis/dataset/sales/202...
9183  CHEVROLET       0  /Users/loukas/Desktop/thesis/dataset/sales/202...
9184        DFM       0  /Users/loukas/Desktop/thesis/dataset/sales/202...

[9185 rows x 3 columns]

In [13]:
data.file_name.unique()

array(['/Users/loukas/Desktop/thesis/dataset/sales/2004-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2004-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2005-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2006-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2007-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2008-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2009-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-10.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-11.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-12.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-6.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-7.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-8.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2010-9.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-1.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-10-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-11-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-12-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-2.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-3.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-4.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-5.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-6-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-7-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-8-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2011-9-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-1-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-10-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-11-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-12-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-2-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-3-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-4-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-5-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-6-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-7-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-8-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2012-9-comp.xls',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2013-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2014-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2015-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2016-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2017-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2018-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-3-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-5-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-6-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2019-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-1.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-10-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-11-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-12-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-2.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-3.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-4.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-5.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-6.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-7-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-8-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2020-9-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-1-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-2-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-3-comp-1.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-4-comp.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-5-comp-1.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-6-comp-1.xlsx',
       '/Users/loukas/Desktop/thesis/dataset/sales/2021-7-comp-1.xlsx'],
      dtype=object)

#### Retrieve only the necessary car brands and put them in DataFrame

In [14]:
TOYOTA=[]
FORD=[]
OPEL=[]
AUDI=[]
FIAT=[]
date=[]

for ind in data.index:
    if data['brands'][ind]=='TOYOTA':
        TOYOTA.append(data['sales'][ind])
        date.append(data['file_name'][ind])
        
    elif data['brands'][ind]=='AUDI':
        AUDI.append(data['sales'][ind])
        
    elif data['brands'][ind]=='OPEL':
        OPEL.append(data['sales'][ind])
        
    elif data['brands'][ind]=='FORD':
        FORD.append(data['sales'][ind])
        
    elif data['brands'][ind]=='FIAT':
        FIAT.append(data['sales'][ind])

In [15]:
df1=pd.DataFrame({'TOYOTA':TOYOTA,'AUDI':AUDI,'OPEL':OPEL,'FORD':FORD,'FIAT':FIAT,'file_date':date})

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TOYOTA     207 non-null    float64
 1   AUDI       207 non-null    float64
 2   OPEL       207 non-null    float64
 3   FORD       207 non-null    float64
 4   FIAT       207 non-null    float64
 5   file_date  207 non-null    object
dtypes: float64(5), object(1)
memory usage: 9.8+ KB

In [17]:
df1

,TOYOTA,AUDI,OPEL,FORD,FIAT,file_date
0,3938.0,654.0,1753.0,2083.0,1911.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
1,1834.0,343.0,2052.0,1627.0,992.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
2,2222.0,537.0,1752.0,1477.0,1183.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
3,786.0,357.0,1152.0,893.0,503.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
4,2253.0,383.0,1396.0,1397.0,1397.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
...,...,...,...,...,...,...
202,1148.0,302.0,500.0,365.0,303.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
203,1262.0,369.0,736.0,296.0,381.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
204,1238.0,326.0,695.0,331.0,565.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
205,1348.0,490.0,922.0,379.0,581.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
206,1558.0,228.0,369.0,236.0,285.0,/Users/loukas/Desktop/thesis/dataset/sales/202...

#### String Manipulation to create Year-Month Index

In [18]:
date1=[]
for i in df1['file_date']:
    date1.append(i[43:50])

In [19]:
date1

['2004-1.',
 '2004-10',
 '2004-11',
 '2004-12',
 '2004-2.',
 '2004-3.',
 '2004-4.',
 '2004-5.',
 '2004-6.',
 '2004-7.',
 '2004-8.',
 '2004-9.',
 '2005-1.',
 '2005-10',
 '2005-12',
 '2005-2.',
 '2005-3.',
 '2005-5.',
 '2005-6.',
 '2005-7.',
 '2005-8.',
 '2005-9.',
 '2006-1.',
 '2006-10',
 '2006-11',
 '2006-12',
 '2006-2.',
 '2006-3.',
 '2006-4.',
 '2006-6.',
 '2006-7.',
 '2006-8.',
 '2006-9.',
 '2007-1.',
 '2007-10',
 '2007-11',
 '2007-12',
 '2007-2.',
 '2007-3.',
 '2007-4.',
 '2007-5.',
 '2007-6.',
 '2007-7.',
 '2007-8.',
 '2007-9.',
 '2008-1.',
 '2008-10',
 '2008-11',
 '2008-12',
 '2008-2.',
 '2008-3.',
 '2008-4.',
 '2008-5.',
 '2008-6.',
 '2008-7.',
 '2008-8.',
 '2008-9.',
 '2009-1.',
 '2009-10',
 '2009-11',
 '2009-12',
 '2009-2.',
 '2009-3.',
 '2009-4.',
 '2009-5.',
 '2009-6.',
 '2009-7.',
 '2009-8.',
 '2009-9.',
 '2010-1.',
 '2010-10',
 '2010-11',
 '2010-12',
 '2010-2.',
 '2010-3.',
 '2010-4.',
 '2010-5.',
 '2010-6.',
 '2010-7.',
 '2010-8.',
 '2010-9.',
 '2011-1.',
 '2011-10',
 '2011-11',
 '2011-12',
 '2011-2.',
 '2011-3.',
 '2011-4.',
 '2011-5.',
 '2011-6-',
 '2011-7-',
 '2011-8-',
 '2011-9-',
 '2012-1-',
 '2012-10',
 '2012-11',
 '2012-12',
 '2012-2-',
 '2012-3-',
 '2012-4-',
 '2012-5-',
 '2012-6-',
 '2012-7-',
 '2012-8-',
 '2012-9-',
 '2013-1-',
 '2013-10',
 '2013-11',
 '2013-12',
 '2013-2-',
 '2013-3-',
 '2013-4-',
 '2013-5-',
 '2013-6-',
 '2013-7-',
 '2013-8-',
 '2013-9-',
 '2014-1-',
 '2014-10',
 '2014-11',
 '2014-12',
 '2014-2-',
 '2014-3-',
 '2014-4-',
 '2014-5-',
 '2014-6-',
 '2014-7-',
 '2014-8-',
 '2014-9-',
 '2015-1-',
 '2015-10',
 '2015-11',
 '2015-12',
 '2015-2-',
 '2015-3-',
 '2015-4-',
 '2015-5-',
 '2015-6-',
 '2015-7-',
 '2015-8-',
 '2015-9-',
 '2016-1-',
 '2016-10',
 '2016-11',
 '2016-12',
 '2016-2-',
 '2016-3-',
 '2016-4-',
 '2016-5-',
 '2016-6-',
 '2016-7-',
 '2016-8-',
 '2016-9-',
 '2017-1-',
 '2017-10',
 '2017-11',
 '2017-12',
 '2017-2-',
 '2017-3-',
 '2017-4-',
 '2017-5-',
 '2017-6-',
 '2017-7-',
 '2017-8-',
 '2017-9-',
 '2018-1-',
 '2018-10',
 '2018-11',
 '2018-12',
 '2018-2-',
 '2018-3-',
 '2018-4-',
 '2018-5-',
 '2018-6-',
 '2018-7-',
 '2018-8-',
 '2018-9-',
 '2019-1-',
 '2019-10',
 '2019-11',
 '2019-12',
 '2019-2-',
 '2019-3-',
 '2019-4-',
 '2019-5-',
 '2019-6-',
 '2019-8-',
 '2019-9-',
 '2020-1.',
 '2020-10',
 '2020-11',
 '2020-12',
 '2020-2.',
 '2020-3.',
 '2020-4.',
 '2020-5.',
 '2020-6.',
 '2020-7-',
 '2020-8-',
 '2020-9-',
 '2021-1-',
 '2021-2-',
 '2021-3-',
 '2021-4-',
 '2021-5-',
 '2021-6-',
 '2021-7-']

In [20]:
date2=[]
for i in date1:
    if i[6]=="0" or i[6]=="1" or i[6]=="2":
        date2.append(i)
    else:
        date2.append(i[0:6])

date3=[]
for i in date2:
    if len(i)==6:
        date3.append(i[0:5]+ "0" +i[5:7])
    else:
        date3.append(i)

In [21]:
date3

['2004-01',
 '2004-10',
 '2004-11',
 '2004-12',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2005-01',
 '2005-10',
 '2005-12',
 '2005-02',
 '2005-03',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2006-01',
 '2006-10',
 '2006-11',
 '2006-12',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2007-01',
 '2007-10',
 '2007-11',
 '2007-12',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2008-01',
 '2008-10',
 '2008-11',
 '2008-12',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2009-01',
 '2009-10',
 '2009-11',
 '2009-12',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2010-01',
 '2010-10',
 '2010-11',
 '2010-12',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2011-01',
 '2011-10',
 '2011-11',
 '2011-12',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2012-01',
 '2012-10',
 '2012-11',
 '2012-12',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2013-01',
 '2013-10',
 '2013-11',
 '2013-12',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2014-01',
 '2014-10',
 '2014-11',
 '2014-12',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2015-01',
 '2015-10',
 '2015-11',
 '2015-12',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2016-01',
 '2016-10',
 '2016-11',
 '2016-12',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2017-01',
 '2017-10',
 '2017-11',
 '2017-12',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2018-01',
 '2018-10',
 '2018-11',
 '2018-12',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2019-01',
 '2019-10',
 '2019-11',
 '2019-12',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-08',
 '2019-09',
 '2020-01',
 '2020-10',
 '2020-11',
 '2020-12',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07']

In [22]:
df1.insert(5,'date',date3)

In [23]:
df1

,TOYOTA,AUDI,OPEL,FORD,FIAT,date,file_date
0,3938.0,654.0,1753.0,2083.0,1911.0,2004-01,/Users/loukas/Desktop/thesis/dataset/sales/200...
1,1834.0,343.0,2052.0,1627.0,992.0,2004-10,/Users/loukas/Desktop/thesis/dataset/sales/200...
2,2222.0,537.0,1752.0,1477.0,1183.0,2004-11,/Users/loukas/Desktop/thesis/dataset/sales/200...
3,786.0,357.0,1152.0,893.0,503.0,2004-12,/Users/loukas/Desktop/thesis/dataset/sales/200...
4,2253.0,383.0,1396.0,1397.0,1397.0,2004-02,/Users/loukas/Desktop/thesis/dataset/sales/200...
...,...,...,...,...,...,...,...
202,1148.0,302.0,500.0,365.0,303.0,2021-03,/Users/loukas/Desktop/thesis/dataset/sales/202...
203,1262.0,369.0,736.0,296.0,381.0,2021-04,/Users/loukas/Desktop/thesis/dataset/sales/202...
204,1238.0,326.0,695.0,331.0,565.0,2021-05,/Users/loukas/Desktop/thesis/dataset/sales/202...
205,1348.0,490.0,922.0,379.0,581.0,2021-06,/Users/loukas/Desktop/thesis/dataset/sales/202...
206,1558.0,228.0,369.0,236.0,285.0,2021-07,/Users/loukas/Desktop/thesis/dataset/sales/202...

### Final DataFrame and export to excel

In [24]:
df2=df1.sort_values(by=['date'])

In [25]:
df2.set_index('date')

,TOYOTA,AUDI,OPEL,FORD,FIAT,file_date
date,,,,,,
2004-01,3938.0,654.0,1753.0,2083.0,1911.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
2004-02,2253.0,383.0,1396.0,1397.0,1397.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
2004-03,2789.0,526.0,1876.0,1802.0,1671.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
2004-04,3105.0,564.0,1656.0,1461.0,1866.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
2004-05,2318.0,473.0,2097.0,1124.0,1736.0,/Users/loukas/Desktop/thesis/dataset/sales/200...
...,...,...,...,...,...,...
2021-03,1148.0,302.0,500.0,365.0,303.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
2021-04,1262.0,369.0,736.0,296.0,381.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
2021-05,1238.0,326.0,695.0,331.0,565.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
2021-06,1348.0,490.0,922.0,379.0,581.0,/Users/loukas/Desktop/thesis/dataset/sales/202...
2021-07,1558.0,228.0,369.0,236.0,285.0,/Users/loukas/Desktop/thesis/dataset/sales/202...

In [26]:
df2.to_excel('output_sales.xlsx')